.catalog__wrapper {
  padding-top: 80px;
  border-bottom: 1px solid $color-grey-light;

  @media (max-width: $tablet-max-width) {
    position: relative;
    flex-direction: column;
    padding-top: 50px;
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 40px;
  }
}

.catalog__container {
  display: flex;

  @media (max-width: $tablet-max-width) {
    flex-direction: column;
  }
}

.catalog__filter-button {
  display: none;

  @media (max-width: $tablet-max-width) {
    &--show {
      display: block;
      margin-bottom: 50px;
    }

    @media (max-width: $mobile-max-width) {
      margin-bottom: 40px;
    }
  }
}

.catalog__filter-wrapper {
  width: 250px;

  @media (max-width: $desktop-max-width-2) {
    width: 245px;
  }

  @media (max-width: $tablet-max-width) {
    width: 442px;
    margin: 0 auto;
    padding-bottom: 40px;

    &--hide {
      display: none;
    }

    &--position {
      position: absolute;
      content: "";
      top: 50px;
      left: 0;
      right: 0;
      z-index: 100;
      background-color: $color-white;
    }
  }
}

.catalog__filter {
  @media (max-width: $tablet-max-width) {
    position: relative;
  }

  .catalog__button-close {
    display: none;

    @media (max-width: $tablet-max-width) {
      position: absolute;
      content: "";
      top: -16px;
      right: -16px;
      width: 32px;
      height: 32px;
      padding: 0;
      background: url("../img/filter-close.svg") 50% no-repeat $color-black2;
      border: none;
      border-radius: 50%;

      &--show {
        display: block;
      }
    }
  }
}

.catalog__filter-box {
  border-right: 1px solid $color-brown;
  border-left: 1px solid $color-brown;

  @media (max-width: $tablet-max-width) {
    &--clear {
      border: none;
    }
  }
}

.catalog__fieldset-wrapper {
  border-top: 1px solid $color-brown;

  &:last-child {
    border-bottom: 1px solid $color-brown;
  }
}

.catalog__filter-fieldset {
  @include reset-indent;
  border: 0;
}

.catalog__filter-legend {
  width: 100%;
  padding: 24px 40px 22px 25px;
  font-weight: 500;

  @media (max-width: $desktop-max-width-2) {
    font-size: 18px;
    line-height: 23.4px;
  }

  @media (max-width: $tablet-max-width) {
    padding: 34px 63px 34px 39px;
  }
}

.catalog__filter-checkbox {
  @include reset-list;
  padding-right: 20px;
  padding-bottom: 27px;
  padding-left: 34px;

  @media (max-width: $tablet-max-width) {
    padding-bottom: 27px;
    padding-left: 49px;
  }
}

.catalog__filter-checkbox li {
  &:not(:last-child) {
    padding-bottom: 10px;

    @media (max-width: $tablet-max-width) {
      padding-bottom: 18px;
    }
  }
}

.catalog__filter-label::before,
.catalog__filter-label::after {
  position: absolute;
  content: "";
  top: 3px;
  left: 0;
  width: 16px;
  height: 16px;
}

.catalog__filter-input + .catalog__filter-label::before {
  border: 1px solid $color-brown;
}

.catalog__filter-input:checked + .catalog__filter-label::after {
  background-color: $color-brown;
}

.catalog__filter-input:disabled + .catalog__filter-label,
.catalog__filter-input:disabled + .catalog__filter-label::after,
.catalog__filter-input:disabled + .catalog__filter-label::before {
  opacity: 0.3;
  cursor: default;
}

.catalog__filter-input {
  &:hover + .catalog__filter-label::before,
  &:focus + .catalog__filter-label::before {
    border: 2px solid $color-brown;
  }
}

.catalog__filter-label {
  position: relative;
  padding-left: 25px;
  font-size: 14px;
  line-height: 18.2px;
  font-weight: 500;
  cursor: pointer;

  @media (max-width: $desktop-max-width-2) {
    padding-left: 30px;
    font-size: 16px;
    line-height: 20.8px;
  }
}

.catalog__filter-range {
  padding: 4px 25px 16px 25px;

  @media (max-width: $tablet-max-width) {
    padding: 0 88px 34px 50px;
  }
}

.catalog__range-controls {
  position: relative;
  padding-bottom: 13px;

  @media (max-width: $tablet-max-width) {
    padding-bottom: 15px;
  }
}

.catalog__range-scale {
  height: 1px;
  background-color: $color-beige;
}

.catalog__range-bar {
  width: 90px;
  height: 1px;
  margin-left: 60px;
  background-color: $color-brown;

  @media (max-width: $tablet-max-width) {
    width: 158px;
  }
}

.catalog__range-toggle {
  position: absolute;
  top: -7px;
  width: 15px;
  height: 15px;
  background-color: $color-brown;
  border-radius: 50%;
  cursor: pointer;

  &--min {
    left: 45px;
  }

  &--max {
    right: 33px;

    @media (max-width: $tablet-max-width) {
      right: 64px;
    }
  }

  @media (max-width: $tablet-max-width) {
    top: -9px;
    width: 18px;
    height: 18px;
  }
}

.catalog__range-price {
  display: flex;
  padding-left: 37px;
}

.catalog__price,
.catalog__price input {
  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;

  @media (max-width: $tablet-max-width) {
    font-size: 16px;
    line-height: 20.8px;
  }
}

.catalog__price-wrapper:not(:last-child) {
  margin-right: auto;

  @media (max-width: $tablet-max-width) {
    margin-right: 110px;
  }
}

.catalog__price input {
  max-width: 50px;
  padding: 0;
  border: none;
  background: none;
}

.catalog__button-wrapper {
  padding-top: 36px;

  @media (max-width: $tablet-max-width) {
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

.catalog__button {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.catalog__products-wrapper {
  width: 920px;

  @media (max-width: $desktop-max-width-2) {
    width: 75%;
  }

  @media (max-width: $tablet-max-width) {
    width: 100%;
  }
}

.catalog__products-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 50px;

  @media (max-width: $desktop-max-width-2) {
    justify-content: flex-start;
  }

  @media (max-width: $tablet-max-width) {
    justify-content: center;
    padding-left: 0;
  }
}

.catalog__products-list li {
  padding-bottom: 14px;

  @media (max-width: $desktop-max-width-2) {
    width: 30%;
    padding-bottom: 11px;
  }

  @media (max-width: $mobile-max-width) {
    width: 44%;
    padding-bottom: 13px;
  }

  &:not(:nth-child(3n)) {
    margin-right: 30px;

    @media (max-width: $mobile-max-width) {
      margin-right: 0;
    }
  }

  &:not(:nth-child(2n)) {
    @media (max-width: $mobile-max-width) {
      margin-right: 30px;
    }
  }
}

.catalog__pagination {
  display: flex;
  justify-content: space-between;
  margin-left: 300px;
  padding-top: 36px;
  padding-bottom: 75px;

  @media (max-width: $desktop-max-width-2) {
    width: 69%;
    margin-left: 290px;
  }

  @media (max-width: $tablet-max-width) {
    width: 100%;
    margin-left: 0;
  }

  @media (max-width: $mobile-max-width) {
    display: block;
    padding-top: 13px;
    padding-bottom: 65px;
  }
}

.catalog__pagination button {
  width: 69px;
  height: 20px;
  padding: 0;
  font-weight: 500;
  text-align: right;
  background-color: transparent;
  border: none;

  &:hover,
  &:focus {
    color: rgba($color-black2, 0.5);
  }

  &:active {
    color: rgba($color-black2, 0.3);
  }

  @media (max-width: $mobile-max-width) {
    display: none;
  }
}
