.faq {
  padding-top: 50px;
  padding-bottom: 70px;

  @media (max-width: $tablet-max-width) {
    padding-top: 10px;
    padding-bottom: 40px;
  }
}

.faq__title h2 {
  padding-bottom: 48px;

  @media (max-width: $mobile-max-width) {
    padding-bottom: 28px;
  }
}

.faq ul {
  @include reset-list;
  padding: 0 100px;

  @media (max-width: $tablet-max-width) {
    padding: 0;
  }
}

.faq__list li {
  border: 1px solid $color-brown;

  &:not(:last-child) {
    border-bottom: 0;
  }
}

.faq__item p {
  margin: 0;
}

.faq__item p:first-child {
  padding: 44px 67px 8px 44px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23.4px;

  @media (max-width: $tablet-max-width) {
    padding-bottom: 26px;
    padding-left: 49px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 17px 65px 14px 23px;
    font-size: 16px;
    line-height: 22.4px;
  }
}

.faq__item p:first-child + p {
  max-width: 565px;
  padding-bottom: 43px;
  padding-left: 50px;

  @media (max-width: $tablet-max-width) {
    max-width: 585px;
    padding-bottom: 45px;
  }

  @media (max-width: $mobile-max-width) {
    max-width: 233px;
    padding-bottom: 24px;
    padding-left: 25px;
    font-size: 14px;
    line-height: 19.6px;
  }
}
