.main-header {
  @media (max-width: $tablet-max-width) {
    position: relative;
    padding-bottom: 124px;
    background-color: $color-brown;
  }
}

.main-header__wrapper {
  border-bottom: 1px solid $color-grey-light;

  @media (max-width: $tablet-max-width) {
    border: none;
  }
}

.main-header__container {
  display: flex;
  padding-top: 40px;
  padding-bottom: 14px;

  @media (max-width: $tablet-max-width) {
    flex-wrap: wrap;
    padding-top: 30px;
  }
}

.main-header__search-wrapper {
  position: relative;
  width: 33%;

  @media (max-width: $tablet-max-width) {
    order: 1;
    width: 100%;
    margin-top: 35px;
  }
}


// .main-header__search[type="text"] {
//   color: $color-white;
// }

.main-header__search {
  width: 350px;
  height: 45px;
  padding: 0;
  padding-left: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  @media (max-width: $tablet-max-width) {
    width: 100%;
    height: 40px;
    padding-left: 40px;
    background-color: rgba($color-white, 0.15);
    border-radius: 21px;

    &[type="text"] {
      color: $color-white;
    }
  }

  &:hover {
    @media (max-width: $tablet-max-width) {
      background-color: rgba($color-white, 0.2);
    }
  }

  &::placeholder {
    font-size: 14px;
    line-height: 21px;
    color: $color-grey;

    @media (max-width: $tablet-max-width) {
      font-size: 0;
    }
  }

  &:hover::placeholder {
    color: rgba($color-grey, 0.5);
  }

  &:hover ~ svg {
    fill: rgba($color-grey, 0.5);

    @media (max-width: $tablet-max-width) {
      fill: rgba($color-white, 0.5);
    }
  }

  &:focus ~ svg {
    fill: $color-black;

    @media (max-width: $tablet-max-width) {
      fill: $color-white;
    }
  }
}

.main-header__search-loupe {
  position: absolute;
  top: 16px;
  left: 0;
  width: 14px;
  height: 14px;

  @media (max-width: $tablet-max-width) {
    width: 16px;
    height: 16px;
    margin-top: -4px;
    margin-left: 12px;
    fill: $color-white;
  }
}

// TODO:  в свободное время стилизовать кнопку, вот стили

// .main-header__search-button {
//   border: none;
//   background-color: transparent;
// }


.main-header__button-wrapper {
  display: none;

  @media (max-width: $tablet-max-width) {
    display: block;
    width: 33%;
    padding-top: 24px;
  }
}
// TODO: проставить миксину для кнопок и инпутов; цвет по-умолчанию прозрачный, если не задано иное
.main-header__button-menu {
  width: 29px;
  height: 23px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.main-header__button-icon {
  width: 25px;
  height: 18px;
}

.main-header__logo-wrapper {
  display: flex;
  justify-content: center;
  width: 34%;
}

.main-header__logo {
  width: 66px;
  height: 66px;

  @media (max-width: $tablet-max-width) {
    stroke: $color-white;
  }
}

.main-header__user-wrapper {
  width: 33%;
  display: flex;
  justify-content: flex-end;
}

.main-header__user-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  padding-top: 13px;

  @media (max-width: $tablet-max-width) {
    padding-top: 0;
  }
}

.main-header__user-list li {
  &:not(:last-child) {
    margin-right: 38px;
  }
}

.main-header__user-item a {
  padding-top: 13px;
  font-size: 14px;
  line-height: 21px;
  color: $color-black2;

  &:hover,
  &:focus {
    color: rgba($color-black2, 0.5);

    @media (max-width: $tablet-max-width) {
      color: rgba($color-white, 0.5);
    }
  }

  &:active {
    color: rgba($color-black2, 0.3);

    @media (max-width: $tablet-max-width) {
      color: rgba($color-white, 0.3);
    }
  }

  @media (max-width: $tablet-max-width) {
    font-size: 18px;
    line-height: 23.4px;
    color: $color-white;
  }
}

.main-header__user-item {
  &--login {
    @media (max-width: $tablet-max-width) {
      position: absolute;
      bottom: 75px;
      left: 45px;
    }
  }

  &--basket a {
    &:hover > svg,
    &:focus > svg {
      stroke-opacity: 0.5;
    }

    &:active > svg {
      stroke-opacity: 0.3;
    }

    @media (max-width: $tablet-max-width) {
      font-size: 0;
    }
  }
}

.main-header__basket-svg {
  display: none;

  @media (max-width: $tablet-max-width) {
    display: block;
    width: 20px;
    height: 18px;
    fill: none;
  }
}

.main-header__nav {
  padding-top: 19px;
  padding-bottom: 19px;

  @media (max-width: $tablet-max-width) {
    padding-top: 33px;
  }
}

.main-header__nav-category,
.main-header__nav-company {
  @include reset-list;
}

.main-header__nav-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: $tablet-max-width) {
    flex-direction: column;
    padding-bottom: 39px;
  }
}

.main-header__nav-category li {
  &:not(:last-child) {
    padding-right: 33px;

    @media (max-width: $tablet-max-width) {
      padding-right: 0;
      padding-bottom: 21px;
    }
  }
}

.main-header__category-item a {
  font-size: 16px;
  line-height: 24px;
  color: $color-black2;

  &:hover,
  &:focus {
    color: rgba($color-black2, 0.5);

    @media (max-width: $tablet-max-width) {
      color: rgba($color-white, 0.5);
    }
  }

  &:active {
    color: rgba($color-black2, 0.3);

    @media (max-width: $tablet-max-width) {
      color: rgba($color-white, 0.3);
    }
  }

  @media (max-width: $tablet-max-width) {
    font-size: 24px;
    line-height: 36px;
    color: $color-white;
  }
}

.main-header__nav-company {
  display: none;

  @media (max-width: $tablet-max-width) {
    display: block;
  }
}

.main-header__nav-company li {
  &:not(:last-child) {
    padding-bottom: 20px;
  }
}

.main-header__company-item a {
  font-size: 18px;
  line-height: 23.4px;
  color: rgba($color-white, 0.75);

  &:hover,
  &:focus {
    color: rgba($color-white, 0.5);
  }

  &:active {
    color: rgba($color-white, 0.3);
  }
}

