.new {
  padding-top: 121px;
  padding-bottom: 60px;

  @media (max-width: $tablet-max-width) {
    padding-top: 71px;
    padding-bottom: 40px;
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 61px;
    padding-bottom: 29px;
  }
}
