.pagination {
  @include reset-list;
  display: flex;
  justify-content: center;

  &--one {
    @media (max-width: $mobile-max-width) {
      display: none;
    }
  }

  &--two {
    display: none;

    @media (max-width: $mobile-max-width) {
      display: flex;
    }
  }

  &--product {
    position: absolute;
    bottom: 6px;
    right: 0;
    left: 0;
    font-size: 14px;
    line-height: 18.2px;
  }
}

.pagination li {
  &:not(:last-child) {
    margin-right: 13px;

    @media (max-width: $mobile-max-width) {
      margin-right: 10px;
    }
  }
}

.pagination--product li {
  &:not(:last-child) {
    @media (max-width: $mobile-max-width) {
      margin-right: 5px;
    }
  }
}

.pagination-item a {
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 500;
  text-align: center;
  color: $color-grey;
}

.pagination-item .pagination-link {
  &:not(.pagination-link--active):hover,
  &:not(.pagination-link--active):focus {
    color: rgba($color-grey, 0.5);
  }

  &:not(.pagination-link--active):active {
    color: rgba($color-grey, 0.3);
  }

  &--active {
    color: $color-black2;
    cursor: default;
  }
}

.pagination-item {
  &--hide {
    @media (min-width: $desktop-max-width) {
      display: none;
    }
  }
}
