.product-info {
  display: flex;
  padding-top: 70px;
  // padding-bottom: 120px;

  @media (max-width: $tablet-max-width) {
    padding-top: 22px;
    // padding-bottom: 70px;
  }

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
    padding-top: 0;
  }
}

.product-info__photos {
  display: flex;
  width: 52%;
  padding-top: 10px;

  @media (max-width: $desktop-max-width-2) {
    flex-direction: column;
    align-items: center;
    width: 55%;
  }

  @media (max-width: $tablet-max-width) {
    width: 48%;
  }

  @media (max-width: $mobile-max-width) {
    position: relative;
    flex-direction: row;
    width: 100%;
    padding-top: 0;
    overflow-x: scroll;
  }
}

.product-info__photos img {
  width: auto;
}

.product-info__photos-list,
.product-info__table-names,
.product-info__desc-list,
.product-info__advantages-list {
  @include reset-list;
}

.product-info__photos-main {
  @media (max-width: $desktop-max-width-2) {
    order: 1;
    padding-bottom: 13px;
  }

  @media (max-width: $mobile-max-width) {
    padding-right: 14px;
    padding-bottom: 0;
  }
}

.product-info__photos-list {
  padding-right: 30px;

  @media (max-width: $desktop-max-width-2) {
    display: flex;
    order: 2;
    padding-right: 0;
  }
}

.product-info__photos-list li {
  &:not(:last-child) {
    padding-bottom: 30px;

    @media (max-width: $desktop-max-width-2) {
      padding-bottom: 0;
      padding-right: 14px;
    }
  }
}

.product-info__desc {
  width: 39.5%;
  padding-left: 92px;

  @media (max-width: $desktop-max-width-2) {
    width: 53.5%;
    padding-left: 40px;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
    padding-top: 41px;
    padding-left: 0;
  }
}

.product-info__desc h2,
.product-info__desc p {
  margin: 0;
}

.product-info__desc h2 {
  padding-bottom: 12px;
  font-family: "Cormorant Garamond", "Times New Roman", "Georgia", serif;
  font-size: 34px;
  line-height: 44.2px;
  font-weight: 700;
}

.product-info__desc > p {
  &:first-of-type {
    padding-bottom: 39px;
    font-weight: 400;
    font-size: 26px;
    line-height: 33.8px;

    @media (max-width: $mobile-max-width) {
      padding-bottom: 29px;
    }
  }
}

.product-info__table-names {
  display: flex;
  padding-bottom: 22px;
}

.product-info__table-names li {
  &:not(:last-child) {
    padding-right: 35px;
  }

  @media (max-width: $mobile-max-width) {
    padding-right: 38px;
  }
}

.product-info__table {
  @include reset-list;
  width: 100%;
  border-collapse: collapse;
}

.product-info__table-name a {
  color: $color-black2;

  &:hover,
  &:focus {
    color: rgba($color-black2, 0.5);
  }

  &:active {
    color: rgba($color-black2, 0.3);
  }
}

.product-info__table-name .product-info__table-link {
  &--active {
    color: $color-grey;
    pointer-events: none;
  }
}

.product-info__desc-list {
  padding-bottom: 50px;

  @media (max-width: $mobile-max-width) {
    padding-bottom: 40px;
  }
}

.product-info__table-body tr {
  // padding-bottom: 15px;
  border-bottom: 1px solid $color-grey-light;
}

.product-info__row th,
.product-info__row td {
  width: 50%;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18.2px;
}

.product-info__row th {
  font-weight: 500;
}

.product-info__row td {
  font-weight: 400;
  text-align: right;
}

.product-info__button {
  margin-bottom: 16px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 13px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 11px;
  }
}

.product-info__advantages-list {
  display: flex;
  justify-content: center;
}

.product-info__advantages-list li {
  font-size: 14px;
  line-height: 18.2px;
  color: $color-grey;

  @media (max-width: $tablet-max-width) {
    font-size: 12px;
    line-height: 15.6px;
  }

  @media (max-width: $mobile-max-width) {
    text-align: center;
  }

  &:not(:first-child) {
    padding-left: 14px;

    @media (max-width: $tablet-max-width) {
      padding-left: 12px;
    }

    @media (max-width: $mobile-max-width) {
      padding-left: 28px;
    }
  }

  &:not(:last-child) {
    padding-right: 13px;
    border-right: 1px solid $color-grey-light;

    @media (max-width: $tablet-max-width) {
      padding-right: 11px;
    }

    @media (max-width: $mobile-max-width) {
      padding-right: 28px;
    }
  }

  &:last-child {
    @media (max-width: $mobile-max-width) {
      padding-right: 10px;
    }
  }

  &:first-child {
    @media (max-width: $mobile-max-width) {
      padding-left: 10px;
    }
  }
}
