.slider {
  padding-top: 120px;
  padding-bottom: 126px;

  @media (max-width: $tablet-max-width) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.slider__header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;

  @media (max-width: $tablet-max-width) {
    padding-bottom: 55px;
  }
}

.slider__btn {
  width: 30px;
  height: 11px;
  padding: 0;
  background-color: transparent;
  border: none;

  &:hover svg,
  &:focus svg {
    stroke: rgba($color-brown, 0.5);
  }

  &:active svg {
    stroke: rgba($color-brown, 0.3);
  }

  @media (max-width: $tablet-max-width) {
    width: 37px;
    height: 17px;
    padding-top: 7px;
  }
}

.slider__btn svg {
  width: 30px;
  height: 11px;
  stroke: $color-brown;

  @media (max-width: $tablet-max-width) {
    width: 37px;
    height: 17px;
  }
}

.slider__cards-wrapper {
  display: flex;
  // overflow-x: scroll;
}

.slider ul {
  @include reset-list;
}

.slider .slider__cards-list {
  display: flex;
  padding-bottom: 31px;
  padding-right: 30px;

  @media (max-width: $tablet-max-width) {
    padding-bottom: 20px;
  }

  @media (max-width: $mobile-max-width) {
    padding-bottom: 17px;
  }
}

.slider__cards-list li {
  &:not(:last-child) {
    margin-right: 30px;
  }
}
