@mixin reset-indent {
  margin: 0;
  padding: 0;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@mixin decor-link {
  padding-bottom: 3px;
  font-weight: 500;
  color: $color-black2;
  border-bottom: 1px solid $color-brown;

  &:hover,
  &:focus {
    color: rgba($color-brown, 0.5);
  }

  &:active {
    color: rgba($color-brown, 0.3);
  }
}
