$mobile-width: 320px;
$mobile-max-width: 767px;
$tablet-width: 768px;
$tablet-max-width: 1023px;
$desktop-width: 1024px;
$desktop-max-width-2: 1365px;
$desktop-max-width: 1366px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$color-white: #ffffff;
$color-black: #000000;
$color-black2: #1d1613;
$color-brown: #a87b62;
$color-grey: #9b9997;
$color-grey-light: #f6f5f4;
